<div class="outer-enterprise-container">

    <div class="enterprise-container">
        <header>
            <nav>
                <div class="row nav-wrapper z-depth-1">
                    <div class="col l12 m12 s12">
                        <div class="col l2 m2 s2 logo-wrapper center-align">
                            <a href="#"
                               class="logo">logo</a>
                        </div>
                        <div class="col l7 m7 s7 search-wrapper">
                            <form>
                                <div class="input-field">
                                    <i class="material-icons">
                                        search
                                    </i>
                                </div>
                            </form>
                        </div>
                        <div class="col l3 m3 s3 user-info-wrapper">
                            <p>
                                <span class="welcome-wrapper"> Welcome, </span> John Doe! </p>
                            <div class="valign-wrapper right">
                                <img src="../images/person.jpg"
                                     alt="picture of person"
                                     class="valign-wrapper user-icon circle">
                                <i class="material-icons">
                                    more_vert
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="row menu-wrapper">
                <div class="col s12 m4 l2 side-panel white">
                    <ul class="section table-of-contents">
                        <p> Menu </p>
                        <li>
                            <a href="#"
                               class="active">
                                <i class="material-icons">dashboard</i>Dashboard</a>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">class</i>Cases
                                <span class="badge">4</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">today</i>Calendar
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">timer</i>Time keeping
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">error</i>Updates
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m8 l10 main-content">
                    <div class="row">
                        <div class="col s8">
                            <div class="row">
                                <div class="col s12 m6 card-active left-card">
                                    <div class="card stats-card z-depth-1">
                                        <div class="card-content white-text">
                                            <p class="info">Active arbitration's
                                                <small class="right">
                                                    <a href="#">See more</a>
                                                </small>
                                            </p>
                                            <span class="card-title">3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6 card-active right-card">
                                    <div class="card stats-card z-depth-1">
                                        <div class="card-content white-text">
                                            <p class="info">Active mediation's
                                                <small class="right">
                                                    <a href="#">See more</a>
                                                </small>
                                            </p>
                                            <span class="card-title">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12 sessions-and-meetings z-depth-1 white">
                                    <ul class="collection with-header">
                                        <div class="collection-header custom-header-purple">
                                            <p class="info">Sessions & Meetings
                                                <small class="right">
                                                    <a href="#">See calendar</a>
                                                </small>
                                            </p>
                                        </div>
                                        <li class="collection-item">
                                            <div>
                                                <span>DBF 11/22</span>
                                                <span> Meeting </span>
                                            </div>
                                            <div class="date">
                                                <span>Monday, 12 Jan, 2018</span>
                                                <span> 04.30PM</span>
                                            </div>

                                        </li>
                                        <li class="collection-item">
                                            <div>
                                                <span>DBF 11/22</span>
                                                <span> Meeting </span>
                                            </div>
                                            <div class="date">
                                                <span>Monday, 12 Jan, 2018</span>
                                                <span> 04.30PM</span>
                                            </div>
                                        </li>
                                        <li class="collection-item">
                                            <div>
                                                <span>DBF 11/22</span>
                                                <span> Meeting </span>
                                            </div>
                                            <div class="date">
                                                <span>Monday, 12 Jan, 2018</span>
                                                <span> 04.30PM</span>
                                            </div>
                                        </li>
                                        <li class="collection-item">
                                            <div>
                                                <span>DBF 11/22</span>
                                                <span> Meeting </span>
                                            </div>
                                            <div class="date">
                                                <span>Monday, 12 Jan, 2018</span>
                                                <span> 04.30PM</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12 recent-updates white z-depth-1">
                                    <ul class="collection with-header">
                                        <div class="collection-header">
                                            <p class="info">Recent updates </p>
                                        </div>
                                        <li class="collection-item">
                                            <span>
                                                <i class="material-icons">description</i>Lorem ipsum </span>
                                            <span> DBF/11/12 </span>
                                        </li>
                                        <li class="collection-item">
                                            <span>
                                                <i class="material-icons">description</i> Lorem ipsum </span>
                                            <span> DBF/11/12 </span>
                                        </li>
                                        <li class="collection-item">
                                            <span>
                                                <i class="material-icons">description</i> Lorem ipsum </span>
                                            <span> DBF/11/12 </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col s4 activities">
                            <div class="row">
                                <ul class="collection with-header z-depth-1 white">
                                    <div class="collection-header custom-header-purple">
                                        <p class="info">Activity
                                            <small class="right">
                                                <a href="#">See all</a>
                                            </small>
                                        </p>
                                    </div>
                                    <li class="collection-item">

                                        <img src="../images/person.jpg"
                                             alt="person picture"
                                             class="circle user-icon">
                                        <div>
                                            <span>Jak added 2 files</span>
                                            <small>to class DBF/11/12</small>
                                        </div>
                                        <a href="#!">
                                            <i class="material-icons">
                                                chevron_right
                                            </i>
                                        </a>

                                    </li>
                                    <li class="collection-item">
                                        <img src="../images/person.jpg"
                                             alt="person picture"
                                             class="circle user-icon">
                                        <div>
                                            <span> Jake added 12 files </span>
                                            <small>to class DBF/11/12</small>
                                        </div>
                                        <a href="#">
                                            <i class="material-icons">
                                                chevron_right
                                            </i>
                                        </a>
                                    </li>
                                    <li class="collection-item">
                                        <img src="../images/person.jpg"
                                             alt="person picture"
                                             class="circle user-icon">
                                        <div>
                                            <span> Jake added description </span>
                                            <small>to class DBF/11/12</small>
                                        </div>
                                        <a href="#">
                                            <i class="material-icons">
                                                chevron_right
                                            </i>
                                        </a>
                                    </li>
                                    <li class="collection-item">
                                        <img src="../images/person.jpg"
                                             alt="person picture"
                                             class="circle user-icon">
                                        <div>
                                            <span> Jake added description </span>
                                            <small>to class DBF/11/12</small>
                                        </div>
                                        <a href="#">
                                            <i class="material-icons">
                                                chevron_right
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>