.outer-enterprise-container {
    width: 100%;
    background-color: #f5f5f5;
    height: 100%;
    font-family: "Roboto", sans-serif;
    .enterprise-container {
        padding: 0 100px;
        min-height: 100vh;
        .menu-wrapper {
            display: flex;
            flex-wrap: wrap;
            min-height: 100vh;
        }
        small a {
            font-size: 11px;
            color: rgba(255, 255, 255, 0.67);
        }
        .info {
            font-weight: lighter;
        }
        .user-icon {
            max-width: 35px;
            height: 35px;
            margin: 0 10px 0 0;
        }
        nav {
            background-color: #3e50b4;
            .nav-wrapper {
                .col:first-of-type {
                    padding: 0;
                }
                .logo-wrapper {
                    background-color: #283999;
                    height: 63px;
                    .logo {
                        font-size: 1.3rem;
                    }
                }
                .welcome-wrapper {
                    opacity: 0.5;
                }
                .search-wrapper {
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                }
                .user-info-wrapper {
                    display: flex;
                    justify-content: space-around;
                }
            }
        }
        .side-panel {
            &.col {
                padding: 0;
            }
            .table-of-contents {
                a {
                    font-weight: 500;
                    border-left: 3px solid white;
                    color: black;
                    width: 100%;
                    padding: 0 20px;
                    position: relative;
                }
                a.active,
                a:hover {
                    padding-left: 18px;
                    color: #283999;
                    border-left-color: #283999;
                    .material-icons {
                        color: #283999;
                        opacity: 1;
                    }
                }
                .badge {
                    background-color: #60e9fe;
                    color: white;
                    position: absolute;
                    top: 2px;
                    right: 12px;
                    border-radius: 25px;
                    height: 18px;
                    font-size: 11px;
                    font-weight: normal;
                    min-width: 3em;
                    line-height: 20px;
                }
                p {
                    opacity: 0.3;
                    padding: 25px 10px 15px 20px;
                }
                li {
                    padding: 10px 0;
                    .material-icons {
                        display: inline-flex;
                        vertical-align: middle;
                        opacity: 0.1;
                        padding: 0 20px 0 0;
                    }
                }
            }
        }
        .main-content {
            padding: 10px 0 0 20px;
            .collection.with-header .collection-header.custom-header-purple {
                background: #3e50b4;
                color: white;
                font-size: 13px;
                line-height: 44px;
                border-radius: 2px 2px 0px 0px;
            }
            .sessions-and-meetings {
                padding: 0;
                .collection {
                    margin: 0;
                }
                .collection-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 18px;
                    span:nth-child(odd) {
                        padding: 0 25px 0 0;
                    }
                }
            }
            .card-active {
                &.left-card {
                    padding: 10px 10px 0 0;
                }
                &.right-card {
                    padding: 10px 0 0 10px;
                }
                .stats-card {
                    background: #3e50b4;
                    .card-title {
                        font-size: 36px;
                        line-height: 44px;
                    }
                    p.info {
                        margin-bottom: 20px;
                    }
                }
            }
            .activities {
                padding: 10px 15px 0 30px;
                .collection {
                    a {
                        color: #d3d3d3;
                        align-self: flex-end;
                    }
                    &.with-header {
                        border-radius: 2px;
                        min-height: 430px;
                        border: none;
                        .collection-item {
                            padding: 15px 15px 10px;
                            display: flex;
                            position: relative;
                            border-bottom: 1px solid #f5f5f5;
                            &>div {
                                display: flex;
                                flex-direction: column;
                            }
                            i {
                                position: absolute;
                                top: 20px;
                                right: 15px;
                            }
                        }
                    }
                    small a {
                        font-size: 11px;
                        color: rgba(255, 255, 255, 0.67);
                    }
                }
            }
            .recent-updates {
                padding: 0;
                .collection {
                    &.with-header {
                        min-height: 350px;
                        background-color: #fff;
                        margin: 0;
                    }
                    .collection-header {
                        padding: 24px;
                        font-weight: bold;
                        color: #283999;
                    }
                    .collection-item {
                        justify-content: space-between;
                        display: flex;
                        padding: 18px;
                        border-bottom: 1px solid #d3d3d3;
                        &>span {
                            display: inline-flex;
                            &>i {
                                padding: 0 10px 0 0;
                                color: #d3d3d3;
                            }
                        }
                    }
                }
            }
        }
    }
}