// $custom-buttom-shadow: -1px 6px 25px -6px #adadad;
// $image-shadow: 3px 15px 13px -10px #eef2f2;
// $custom-shadow: 0px 0px 300px 45px rgba(255, 255, 255, 0.9);
// section {
//   padding: 30px 200px;
//   height: 27vh;
// }
// header,
// footer {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }
// header {
//   border-bottom: 1px solid #eef2f2;
//   padding: 27px 200px;
//   h2 {
//     color: #4ccbd6;
//   }
// }
// footer {
//   .options-wrapper {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     margin: 15px 0 0 0;
//     ul {
//       list-style-type: none;
//       margin: 0 30px 0 0;
//       li {
//         margin: 10px 0;
//       }
//     }
//   }
//   .resources,
//   .stay-in-touch {
//     width: 50%;
//   }
//   .resources {
//     padding: 50px 50px 50px 200px;
//     background-color: #eef2f2;
//     .options-wrapper {
//       color: #adadad;
//     }
//   }
//   .stay-in-touch {
//     padding: 50px 200px 50px 50px;
//     .options-wrapper {
//       color: #003b52;
//       opacity: 0.5;
//     }
//   }
// }
// #content {
//   display: flex;
//   flex-direction: column;
//   section {
//     display: flex;
//     flex-direction: column;
//     &#introduction {
//       color: #003b52;
//     }
//     &#blog {
//       margin: 90px 0;
//     }
//     &#insurance,
//     &#introduction {
//       flex-direction: row;
//       margin: 0 0 50px 150px;
//       padding: 0 0 0 50px;
//       height: 60vh;
//       .description {
//         hr {
//           width: 40px;
//           color: #eef2f2;
//           margin: 10px 0;
//         }
//         p {
//           margin: 5px 0 0 0;
//           color: #adadad;
//         }
//       }
//       .text {
//         width: 50%;
//         justify-content: center;
//         align-items: flex-start;
//         flex-direction: column;
//         display: flex;
//         .description {
//           margin: 50px 0 0 0;
//         }
//         .title {
//           margin: 50px 0;
//           h1 {
//             font-size: 24px;
//             color: #003b52;
//           }
//         }
//         .icons-wrapper {
//           margin: 25px 0 10px 0;
//           i {
//             font-size: 20px;
//             color: #eef2f2;
//             margin: 0 25px 0 0;
//           }
//         }
//       }
//       .image-wrapper {
//         width: 50%;
//         background-color: #eef2f2;
//         position: relative;
//         img {
//           position: absolute;
//           top: 50%;
//           box-shadow: $image-shadow;
//           transform: translate(-15%, -50%);
//         }
//       }
//     }
//     &#insurance {
//       background-color: #4ccbd6;
//       height: 34vh;
//       color: white;
//       justify-content: space-between;
//       padding: 0 200px 0 50px;
//       align-items: center;
//       i {
//         font-size: 25px;
//       }
//       .insurance-custom-button {
//         color: #003b52;
//         background-color: white;
//         padding: 23px 30px;
//         box-shadow: $custom-shadow;
//       }
//     }
//     &#subscription {
//       border-bottom: 1px solid #eef2f2;
//       padding-bottom: 0;
//       padding-top: 0;
//       margin-bottom: 0;
//       margin-top: 70px;
//     }
//     .updates-wrapper,
//     .blog-articles {
//       display: flex;
//       justify-content: space-between;
//       .tile {
//         border-left: 1px solid #eef2f2;
//         padding: 15px 0 0 35px;
//         display: flex;
//         flex-direction: column;
//         .date {
//           color: #adadad;
//           padding: 20px 0 0 0;
//         }
//       }
//     }
//     .blog-articles {
//       margin: 30px 0 0 0;
//       height: auto;
//       min-height: 12vh;
//     }
//     .updates-wrapper {
//       display: inline-flex;
//       align-items: center;
//       margin: 15px 0 0 0;
//       .input,
//       .submit {
//         display: inline-block;
//         padding: 23px 30px;
//         margin: 0 -3px 0 0;
//         min-width: 25vw;
//         font-size: 10px;
//         border-radius: 0;
//         -webkit-appearance: none;
//         outline: none;
//       }
//       input::-webkit-input-placeholderr {
//         color: #003b52;
//       }
//       .insurance-custom-button {
//         box-shadow: none;
//         padding: 23px 30px;
//       }
//     }
//     .input {
//       border: 1px solid #eef2f2;
//     }
//     .submit {
//       background-color: #4ccbd6;
//       color: white;
//       border: 1px solid transparent;
//     }
//   }
// }
// .insurance-custom-button {
//   background-color: #4ccbd6;
//   border: none;
//   color: white;
//   padding: 15px 30px;
//   min-width: 10vw;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 12px;
//   box-shadow: $custom-buttom-shadow;
// }