@import "templates/styles/enterprise";
@import "templates/styles/insurance";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // I know that font was different on mockups, but Sailec Book isn't free, so I have replaced it by free font.
    font-family: "Open Sans", sans-serif;
    background-color: #ffff;
    color: #003b52;
    font-size: 12px;
}